<div class="row">
  <%= render partial: 'shared/errors', object: @tenant.errors %>
  <div class="col-sm-6">
    <header>
      <h1>Edit <%= @tenant.name %> Tenant</h1>
    </header>
    <%= form_for @tenant, html: { class: 'well' } do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :gender %>
        <%= f.text_field :gender, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :dob %>
        <%= f.text_field :dob, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :no_of_dependents %>
        <div class="row">
          <div class="col-sm-3">
            <%= f.text_field :no_of_dependents, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :occupation %>
        <%= f.text_field :occupation, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :annual_income %>
        <%= f.text_field :annual_income, class: 'form-control' %>
      </div>
      <%= f.submit 'Edit Tenant', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
